/* место для вашего кода */
header{
    display: grid;
    grid-template-columns: 1fr 148px 1fr;
    padding: 92px 50px 93px 50px;
    align-items:center;
}

.header__menu{
    width: 391.48px;
    height: 22px;


}
.header__links-list{
    display: flex;
    font-family: 'Raleway';
    gap: 33px;
    font-size: 18px;
    font-weight: normal;
    line-height: 18.3px;
    list-style:circle;
    text-underline-offset: 3px; 
}

.header__links-list li::marker {
    font-size: 16px;
    margin-left: -5px;
}
.header__logo-image {
    width: 148px;
    height: 105px;  
}

.header__address{
    margin: 0;
    padding: 0;
    width: 240px;
    height: 101px;
    justify-self: end;
    font-family: 'Raleway';
    font-weight: normal;
    font-size: 18px;
    line-height: 24.3px;
    text-decoration: none;
    font-style: normal;
    text-underline-offset: 4px; 
}


.cover {
    position: relative;
    background-image: url('../images/cover.jpg'); 
    background-size: cover; 
    background-position: center;
    padding: 50px; 
    color: #fff; 
    text-align: center; 
    z-index: 0; 
  }
  
  
  .overlay {
    position: absolute;
    inset: 0; 
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1;
  }
  
  /* Заголовок */
  .cover__title {
    position: relative;
    padding-top: 119px; 
    font-family: 'Raleway';
    font-size: 100px;
    font-weight: bold;
    line-height: 105px;
    letter-spacing: 0.3em;
    z-index: 2; 
  }
  
  .cover__word {
    display: block; 
  }
  
  .cover__word--1 {
    text-align: left;
  }
  
  .cover__word--2 {
    text-align: center;
    padding-top: 30px;
    padding-left: 30px;
  }
  
  .cover__word--3 {
   text-align: right;
   padding-top: 31px;
   padding-left: 614px;
  }
  

  .cover__footer {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 18px;
    margin-top: 110px;
    z-index: 2;
    gap: 106px;
  }
  .cover__p{
    font-family: 'Raleway';
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    word-spacing: 0.85em;
    text-wrap: nowrap;
  }
  
  .cover__button {
    padding: 12px 32px 11px 31px;
    border:#fff solid 1px;
    cursor: pointer;
    background: transparent;
    z-index: 2; 

  }
  
  .cover__button a {
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    text-wrap: nowrap;
  }

.lots {
  margin:180px 24px 0px 24px;
}
.lots h2 {
  font-family: 'Raleway';
  font-size: 40px;
  font-weight: bold;
  line-height: 46.96px;
  padding-left: 40px;

}

.lots__card-list {
  display: flex;
  justify-content: center;
  list-style: none;
  text-decoration: none;
  gap:25px;
  padding-top: 26px;
}
.lots__card-list-item {
  width: 334px;
  height: 596px;
}
.card {
  position: relative; 
  width: 100%; 
  height: 100%; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px 48px 40px; 
  color: #fff;
  z-index: 0; 
}

/* Типы карточек */
.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-size: cover; 
  background-position: center;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-size: cover; 
  background-position: center;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-size: cover; 
  background-position: center;
}


.card-link {
  text-decoration: none; 
  color: inherit; 
  display: block; 
  height: 100%;
}

.card__title {
  position: relative;
  font-family: 'Raleway';
  font-size: 22px;
  font-weight: bold;
  line-height: 26.4px;
  text-align: left;
  text-transform: uppercase;
  text-decoration: underline; 
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  z-index: 2;
}

.card__text {
  font-family: 'Raleway';
  font-size: 20px;
  font-weight: normal;
  line-height: 24px;
  z-index: 2;
}
.lots__look-more-link{
  font-family: 'Raleway';
  display: block;
  font-size: 20px;
  line-height: 23.48px;
  padding: 33px 0 0 40px;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  
}